* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
body {
    background-color: rgb(144, 216, 216);
    background-image: url("legday.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 78, 83);
    color: rgb(248, 248, 248);
    padding: 1rem;
    position: relative;
}
#logo {
    display: flex;
    align-items: center;
}
#logo img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
#logo h1 {
    color: beige;
    margin-left: 10px;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items a {
    color: azure;
    text-decoration: none;
    padding: 0.5em 1em;
    text-align: center;
}
.nav-items a:hover {
    color: rgb(255, 47, 47);
}

.searchbar {
    display: flex;
}

.searchbar input[type="text"] {
    font-size: 15px;
    border: none;
    border-radius: 8px;
    padding: 0.3em;
}

.searchbar button {
    padding: 4px 6px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 6px;
    border-radius: 50px;
}
.cart img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    mix-blend-mode: color-dodge;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.container .content {
    width: 50%;
    position: absolute;
    color: rgb(173, 173, 253);
    left: 5rem;
    top: 45%;
    transform: translateY(-50%);
}
.container .content .text {
    font-size: 4em;
    font-weight: bold;
}
.container .content .gradient-text {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1), rgba(255, 255, 0, 1));
    color: transparent;
    background-clip: text;
}

.container .content p {
    font-size: 1.5rem;
    margin-top: 20px;
}

.container .content .buttons a {
    margin-top: 0.5rem;
    display: inline-block;
    padding: 8px 10px;
    margin-right: 15px;
    background-color: rgb(122, 183, 223);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
}

.overview-item {
    margin-top: 20px;
}

.overview-item h2 {
    font-size: 30px;
    color: rgb(95, 192, 108);
}

.overview-item h3 {
    font-size: 18px;
    color: rgb(125, 226, 226);
}

@media screen and (max-width: 600px) {
    .hamburger{
        display: block;
    }
    .nav-items {
        flex-direction: column;
        display: none;
        width: 100%;
    }
    #menu-toggle:checked + .hamburger + .nav-items {
        display: flex;
    }

    .nav-items a {
        padding: 1rem;
    }
    .container {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .container .content {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .container .content .text {
        font-size: 2.5rem;
    }
    .searchbar,
    .cart {
        margin-top: 10px;
        width: 100%;
    }
    #menu-toggle {
        display: none;
    }
}
