*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7d84b2;
    text-align: center;
}
.message{
    height: 20vmin;
}
.hide{
    display: none;
}
.msg{
    color: aliceblue;
    font-size: 5vmin;
}
.new-game{
    background-color: hsl(135, 89%, 52%);
    color: black;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius:10px;
    border: 1px solid rgb(31, 116, 20);
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    padding: 10px;
}
.container{
    background-color: #8FA6CB;
    height: 70vh;
    margin: 0px 5%;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}
.box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0, 0, 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: #6c857c;
    background-color: #d1e2ab;
}
.reset{
    background-color: #99edae;
    color: black;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius:10px;
    border: 1px solid black;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}