*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 224, 255);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(luisha2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(22, 22, 22);
    width: 100%;
    height: 50px;
    background: rgb(156, 197, 255);
}
#navbar .title{
    text-align: start;
}
#navbar .nav-list{
    align-items: center;
}
#navbar .nav-list a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
}
#navbar .nav-list a:hover{
    color: rgb(178, 88, 178);
}
#navbar .appoint button{
    border-color: rgb(113, 113, 249);
    border: 1px;
    border-radius: 50px;
    background-color: rgb(49, 148, 235);
    align-content: center;
}
#navbar .appoint button a{
    display: inline-block;
    padding: 2px 6px;
    color: rgb(13, 13, 13);
    text-decoration: none;
    font-family: serif;
}
#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10%;
    
}
#container .context .text h1{
    margin-top: 50px;
    margin-bottom: 30px;
}
#container .context .text .gradient-text{
    background: linear-gradient(rgb(4, 91, 252),rgb(249, 19, 19));
    background-clip: text;
    color: transparent;
}
#container .context .button button{
    background: rgb(166, 84, 242);
    border-radius: 10px;
    border: 5px;
    padding-top: 2px;
    margin-top: 10px;
}
#container .context .button button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
/* #container .image img{

    max-width: 100%;
    mix-blend-mode: ;
    height: auto;
} */

#quote{
    text-align: right;
    padding: 30px 10%;
}
#quote .quote-text{
    font-size: 1.2rem;
    color: black;
    margin-bottom: 2px;
    background-color: rgb(230, 231, 231);
    text-align: center;

}

@media only screen and(max-width: 600px) {
    #container .text {}
    
}

