*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 224, 255);
    font-family: sans-serif;
    /* background-image: url(luisha2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply; */
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10%;
    background: rgb(156, 197, 255);
}
#navbar .title h1{
    font-size: 1.5rem;
}
#navbar .nav-list{
    display: flex;
    gap: 30px;
}
#navbar .nav-list a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
#navbar .nav-list a:hover{
    color: rgb(178, 88, 178);
}
#navbar .appoint button{
    border: none;
    border-radius: 50px;
    background-color: rgb(49, 148, 235);
    padding: 5px 10px;
}
#navbar .appoint button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px 10%;
    width: 100%;
}
.content{
    max-width: 50%;
    flex: 1;
}
.context .text h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.gradient-text{
    background: linear-gradient(rgb(4, 91, 252),rgb(249, 19, 19));
    background-clip: text;
    color: transparent;
}
.context p{
    font-size: 1rem;
    line-height: 1.6;
    color: black;
}
.context .button button{
    background: rgb(166, 84, 242);
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
}
.context .button button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
}

.image{
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 50%;
    padding:20px;
}
.image img{
    max-width: 100%;
    mix-blend-mode:multiply;
    height: auto;
}

#quote{
    padding: 30px 10%;
    text-align: center;
}
#quote .quote-text{
    font-size: 1.2rem;
    color: black;
    /* margin-bottom: 10px; */
    background-color: rgb(234, 235, 235);
    padding: 15px;
    border-radius: 8px;
}

@media only screen and(max-width: 400px) {
    #navbar {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    #navbar .nav-list{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    #container{
        flex-direction: column;
        text-align: center;
    }
    .context{
        max-width: 100%;
    }
    #quote{
        text-align: center;
    }
}

